In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

Q1. A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. (Data set: dietstudy.csv)

In [4]:
diet=pd.read_csv('C:/Users/ACER/Desktop/Analytixlabs/Python/Manuj_Sir_python/Assignment/7. Basic Stats - Case Study-1/dietstudy.csv')

In [5]:
diet.head(2)

   patid  age gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0      1   45   Male  180  148  106  113  100   198   196   193   188   192
1      2   56   Male  139   94  119   75   92   237   233   232   228   225

Ho : There is no difference in the levels of Triglycerides and weight of individual after using new diet for 6 months
Ha : There is has been a significant difference in the levels of Triglycerides and weight of individual after using new diet for 6 months.
CI :95% ,P=0.05
Test : paired sample t test

In [109]:
print('Mean of Triglyceride_Pre :',diet.tg0.mean(),'|','Mean of Weights_Pre :',diet.wgt0.mean())
print('Mean of Triglyceride_Post :',diet.tg4.mean(),'|','Mean of Weights_Post :',diet.wgt4.mean())
print('Var of Triglyceride_Pre :',round(diet.tg0.var(),2),'|','Var of Weights_Pre :',round(diet.wgt0.var(),2))
print('Var of Triglyceride_Post :',round(diet.tg4.var(),2),'|','Var of Weights_Post :',round(diet.wgt4.var(),2))

Mean of Triglyceride_Pre : 138.4375 | Mean of Weights_Pre : 198.375
Mean of Triglyceride_Post : 124.375 | Mean of Weights_Post : 190.3125
Var of Triglyceride_Pre : 843.33 | Var of Weights_Pre : 1120.38
Var of Triglyceride_Post : 865.05 | Var of Weights_Post : 1122.76

In [11]:
tg=stats.ttest_rel(diet.tg0,diet.tg4)
print('P-value:',tg[1])

P-value: 0.24874946576903698

In [13]:
wg=stats.ttest_rel(diet.wgt0,diet.wgt4)
print('P-value:',wg[1])

P-value: 1.137689414996614e-08

### Conclusion: 
 For Triglyceride:There is no significant difference in the levels of Triglycerides
 
 For Weight: There has been a significant difference in the levels of  weight

Q2. An analyst at a department store wants to evaluate a recent credit card promotion. To this end, 500 cardholders were randomly selected. Half received an ad promoting a reduced interest rate on purchases made over the next three months, and half received a standard seasonal ad. Is the promotion effective to increase sales?

In [14]:
credit=pd.read_csv('C:/Users/ACER/Desktop/Analytixlabs/Python/Manuj_Sir_python/Assignment/7. Basic Stats - Case Study-1/creditpromo.csv')

In [15]:
credit.head(2)

    id         insert      dollars
0  148       Standard  2232.771979
1  572  New Promotion  1403.807542

In [25]:
Dollars='dollars'
New=credit.loc[credit['insert']=='New Promotion',Dollars]
Old=credit.loc[credit['insert']=='Standard',Dollars]

Ho : There is no difference in the sales before and after the promotion
Ha : There is has been a significant difference in the in the sales before and after the promotion.
CI :95% ,P=0.05
Test : f-test/ANOVA

In [34]:
print('Mean of before promotion:',round(Old.mean(),2),'|','Variance of before promotion:',round(Old.var(),2))
print('Mean of after promotion:',round(New.mean(),2),'|','Variance of after promotion:',round(New.var(),2))

Mean of before promotion: 1566.39 | Variance of before promotion: 120182.2
Mean of after promotion: 1637.5 | Variance of after promotion: 127237.15

In [32]:
promo_test=stats.f_oneway(Old,New)
print('P-value:',promo_test[1])

P-value: 0.024225996894148064

### Conclusion:
There is has been a significant difference in the in the sales before and after the promotion

Q3.An experiment is conducted to study the hybrid seed production of bottle gourd under open field conditions. The main aim of the investigation is to compare natural pollination and hand pollination. The data are collected on 10 randomly selected plants from each of natural pollination and hand pollination. The data are collected on fruit weight (kg), seed yield/plant (g) and seedling length (cm)

In [45]:
pollination=pd.read_csv('C:/Users/ACER/Desktop/Analytixlabs/Python/Manuj_Sir_python/Assignment/7. Basic Stats - Case Study-1/pollination.csv')
pollination.head(2)

     Group  Fruit_Wt  Seed_Yield_Plant  Seedling_length
0  Natural      1.85            147.70            16.86
1  Natural      1.86            136.86            16.77

a) Is the overall population of Seed yield/plant (g) equals to 200?

Ho : Mean=200
Ha : Mean<>200
CI :95% ,P=0.05
Test : one sample t-test

In [39]:
seed=pollination['Seed_Yield_Plant'].mean()
print('Mean of sample population:',seed)

Mean of sample population: 180.8035

In [44]:
test=stats.ttest_1samp(pollination['Seed_Yield_Plant'],200)
print('P-value:',test[1])

P-value: 0.032891040921283025

### Conclusion:
Overall population of Seed yield/plant (g) is significantly difference from the hypothesised mean value of 200

b) Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.

Ho : natural pollination and hand pollination are equally effective
Ha : natural pollination and hand pollination are significantly different
CI :95% ,P=0.05
Test :  two sample ind test or ANOVA

In [61]:
N1=pollination.loc[pollination.Group=='Natural','Fruit_Wt']
N2=pollination.loc[pollination.Group=='Natural','Seed_Yield_Plant']
N3=pollination.loc[pollination.Group=='Natural','Seedling_length']
print('Mean of fruit for Natural:',round(N1.mean(),2),'|','Mean of seed_Yield for Natural:',round(N2.mean(),2),'|','Mean of seedling for Natural:',round(N3.mean(),2))
print('Var of fruit for Natural:',round(N1.var(),2),'|','Var of seed_Yield for Natural:',round(N2.var(),2),'|','Var of seedling for Natural:',round(N3.var(),2))

Mean of fruit for Natural: 1.85 | Mean of seed_Yield for Natural: 146.01 | Mean of seedling for Natural: 17.71
Var of fruit for Natural: 0.0 | Var of seed_Yield for Natural: 110.17 | Var of seedling for Natural: 0.79

In [62]:
H1=pollination.loc[pollination.Group=='Hand','Fruit_Wt']
H2=pollination.loc[pollination.Group=='Hand','Seed_Yield_Plant']
H3=pollination.loc[pollination.Group=='Hand','Seedling_length']
print('Mean of fruit for Natural:',round(H1.mean(),2),'|','Mean of seed_Yield for Natural:',round(H2.mean(),2),'|','Mean of seedling for Natural:',round(H3.mean(),2))
print('Var of fruit for Natural:',round(H1.var(),2),'|','Var of seed_Yield for Natural:',round(H2.var(),2),'|','Var of seedling for Natural:',round(H3.var(),2))

Mean of fruit for Natural: 2.57 | Mean of seed_Yield for Natural: 215.6 | Mean of seedling for Natural: 18.59
Var of fruit for Natural: 0.02 | Var of seed_Yield for Natural: 138.38 | Var of seedling for Natural: 0.42

In [66]:
print('P-value N1/H1:',stats.ttest_ind(N1,H1)[1])
print('P-value N2/H2:',stats.ttest_ind(N2,H2)[1])
print('P-value N3/H3:',stats.ttest_ind(N3,H3)[1])

P-value N1/H1: 8.078362076486221e-13
P-value N2/H2: 4.2714815854843853e-11
P-value N3/H3: 0.020428817064110226

In [68]:
#Alternate way is ANOVA
stats.f_oneway( N1,N2,N3,H1,H2,H3 )

F_onewayResult(statistic=1993.4826327763085, pvalue=6.29512897481449e-60)

### Conclusion:
Natural pollination and Hand pollination are significantly different

Q4. An electronics firm is developing a new DVD player in response to customer requests. Using a prototype, the marketing team has collected focus data for different age groups viz. Under 25; 25-34; 35-44; 45-54; 55-64; 65 and above. Do you think that consumers of various ages rated the design differently?

In [50]:
DVD=pd.read_csv('C:/Users/ACER/Desktop/Analytixlabs/Python/Manuj_Sir_python/Assignment/7. Basic Stats - Case Study-1/dvdplayer.csv')
DVD.head(2)

      agegroup   dvdscore
0  65 and over  38.454803
1        55-64  17.669677

Ho : All age group gave similar rating
Ha : Rating for all age group are different
CI :95% ,P=0.05
Test : f-test/ANOVA

In [72]:
DVD.agegroup.unique()

array(['65 and over', '55-64', 'Under 25', '25-34', '45-54', '35-44'],
      dtype=object)

In [75]:
d1=DVD.loc[DVD.agegroup=='65 and over','dvdscore']
d2=DVD.loc[DVD.agegroup=='55-64','dvdscore']
d3=DVD.loc[DVD.agegroup=='Under 25','dvdscore']
d4=DVD.loc[DVD.agegroup=='25-34','dvdscore']
d5=DVD.loc[DVD.agegroup=='45-54','dvdscore']
d6=DVD.loc[DVD.agegroup=='35-44','dvdscore']

In [80]:
print('Mean d1:',round(d1.mean(),2),'|','Mean d2:',round(d2.mean(),2),'|','Mean d3:',round(d3.mean(),2),'|','Mean d4:',round(d4.mean(),2),'|','Mean d5:',round(d5.mean(),2),'|','Mean d6:',round(d6.mean(),2))
print('Var d1:',round(d1.var(),2),'|','Var d2:',round(d2.var(),2),'|','Var d3:',round(d3.var(),2),'|','Var d4:',round(d4.var(),2),'|','Var d5:',round(d5.var(),2),'|','Var d6:',round(d6.var(),2))

Mean d1: 28.0 | Mean d2: 28.45 | Mean d3: 28.75 | Mean d4: 31.68 | Mean d5: 39.12 | Mean d6: 37.02
Var d1: 27.72 | Var d2: 29.52 | Var d3: 26.98 | Var d4: 34.08 | Var d5: 41.38 | Var d6: 63.78

In [77]:
print('P-value',stats.f_oneway(d1,d2,d3,d4,d5,d6)[1])

P-value 3.087324905679639e-05

### Conclusion:
Rating for all age group are different from each other

Q5.A survey was conducted among 2800 customers on several demographic characteristics. Working status, sex, age, age-group, race, happiness, no. of child, marital status, educational qualifications, income group etc. had been captured for that purpose.

In [102]:
survey=pd.read_csv('C:/Users/ACER/Desktop/Analytixlabs/Python/Manuj_Sir_python/Assignment/7. Basic Stats - Case Study-1/sample_survey.csv')
survey.head(2)

,id,wrkstat,marital,childs,age,educ,paeduc,maeduc,speduc,degree,...,agecat,childcat,news1,news2,news3,news4,news5,car1,car2,car3
0,1,Working full time,Divorced,2.0,60.0,12.0,12.0,12.0,NaN,High school,...,55 to 64,1-2,No,No,No,No,No,American,Japanese,Japanese
1,2,Working part-time,Never married,0.0,27.0,17.0,20.0,NaN,NaN,Junior college,...,25 to 34,None,No,No,Yes,No,No,American,German,Japanese

a) Is there any relationship in between labour force status with marital status?

Ho : No relation between labour force status with marital status
Ha : There is relation between labour force status with marital status
CI :95% ,P=0.05
Test : chi-square

In [103]:
print('P-value:',stats.chi2_contingency(pd.crosstab(survey.wrkstat,survey.marital))[1])

P-value: 1.4875268409067568e-135

### Conclusion:
There is a relation between labour force status with marital status

b) Do you think educational qualification is somehow controlling the marital status?

Ho : Educational qualification is not controlling the marital status
Ha : Educational qualification is somehow controlling the marital status
CI :95% ,P=0.05
Test : chi-square

In [104]:
print('P-value:',stats.chi2_contingency(pd.crosstab(survey.marital,survey.degree))[1])

P-value: 1.6707923432360119e-18

### Conclusion:
Educational qualification is somehow controlling the marital status

c) Is happiness is driven by earnings or marital status?

Ho : Happiness is not driven by earnings or marital status
Ha : Happiness is  driven by earnings or marital status
CI :95% ,P=0.05
Test : chi-square

In [107]:
print('P-value for Happiness & Marital status:',stats.chi2_contingency(pd.crosstab(survey.marital,survey.happy))[1])

P-value for Happiness & Marital status: 9.3147261197964e-52

In [106]:
print('P-value for Happiness & Earning status:',stats.chi2_contingency(pd.crosstab(survey.marital,survey.income))[1])

P-value for Happiness & Earning status: 7.108618170303006e-83

### Conclusion:
 Yes,Happiness is  driven by earnings or marital status